<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52163657696-smsv37ff54i8lhurhp2fhg1l92c4gb0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52163657696-smsv37ff54i8lhurhp2fhg1l92c4gb0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52163657696-kc8820gh5thbmrja6qhne027hom5pfks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX__5Rgx1rvRSnDLSw0e9g3mBDxuAVTIs</string>
	<key>GCM_SENDER_ID</key>
	<string>52163657696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emotionTracker</string>
	<key>PROJECT_ID</key>
	<string>emotion-tracker-7728e</string>
	<key>STORAGE_BUCKET</key>
	<string>emotion-tracker-7728e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52163657696:ios:1b60191f69d829b91b3585</string>
	<key>DATABASE_URL</key>
	<string>https://emotion-tracker-7728e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>